.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px;
    margin-left: 200px;
    /*background-color: rgba(240,240,240,240);*/
    /*border: .1px solid black;*/
    padding: 0 30px 0 30px;
    letter-spacing: .5px;
    max-width: 50%;
    background: rgb(240, 249, 255);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(240, 249, 255, 1) 0%, rgba(203, 235, 255, 1) 47%, rgba(161, 219, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.img {
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: inherit;
    position: relative;
    border: .5px solid black;
    border-top: none;
    box-shadow: 0px 6px 10px -1px rgba(0, 0, 0, .5);
}
